services:
  postgres:
    image: postgres:15
    environment:
      POSTGRES_USER: app
      POSTGRES_PASSWORD: app
      POSTGRES_DB: getir
    ports:
      - "5433:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data

  redis:
    image: redis:7
    ports:
      - "6379:6379"

  minio:
    image: minio/minio
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: minio
      MINIO_ROOT_PASSWORD: minio123
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - minio_data:/data

  api:
    build:
      context: .
      dockerfile: services/api/Dockerfile
    environment:
      DATABASE_URL: postgresql://app:app@postgres:5432/getir
      REDIS_URL: redis://redis:6379
      JWT_SECRET: dev_secret
      MINIO_ENDPOINT: minio
      MINIO_PORT: 9000
      MINIO_ACCESS_KEY: minio
      MINIO_SECRET_KEY: minio123
      MINIO_BUCKET: uploads
      API_INTERNAL_SECRET: internal_secret
      PORT: 3000
    depends_on:
      - postgres
      - redis
      - minio
    ports:
      - "3000:3000"

  worker:
    build:
      context: .
      dockerfile: services/worker/Dockerfile
    environment:
      DATABASE_URL: postgresql://app:app@postgres:5432/getir
      REDIS_URL: redis://redis:6379
      API_BASE_URL: http://api:3000/api
      API_INTERNAL_SECRET: internal_secret
      MINIO_ENDPOINT: minio
      MINIO_PORT: 9000
      MINIO_ACCESS_KEY: minio
      MINIO_SECRET_KEY: minio123
      MINIO_BUCKET: uploads
    depends_on:
      - api
      - redis
      - postgres
      - minio

  ops-web:
    build:
      context: .
      dockerfile: apps/ops-web/Dockerfile
    environment:
      # IMPORTANT: Tarayıcı buraya istek atacak. "api" yazarsan tarayıcı çözemez.
      NEXT_PUBLIC_API_URL: http://localhost:3000/api
    depends_on:
      - api
    ports:
      - "3001:3000"

volumes:
  pg_data:
  minio_data:
